/* Original config - https://github.com/ErikReider/SwayNotificationCenter/blob/main/data/style/style.scss */

@import "colors/dark.css";
/* @import "colors/light.css"; */

@import "variables/variables.css";
@import "colors/gruvbox.css";

@import "elements/backlight.css";
@import "elements/body.css";
@import "elements/buttons.css";
@import "elements/center.css";
@import "elements/dnd.css";
@import "elements/mpris.css";
@import "elements/title.css";
@import "elements/volume.css";
@import "elements/widgets.css";

/* @import "colors-dynamic.css"; */

* {
  font-family: "SF Pro", sans-serif;
}

:root {
  --hover-tranistion:
    background .38s cubic-bezier(0.25, 1, 0.4, 1),
    transform .48s cubic-bezier(0.34, 1.6, 0.4, 0.95),
    box-shadow .65s cubic-bezier(0.16, 1, 0.25, 1);
  --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
  --notification-group-icon-size: 64px;
  --border: 1px solid var(--noti-border-color);
  --border-radius: 16px;
  --notification-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3),
    0 1px 3px 1px rgba(0, 0, 0, 0.7), 0 2px 6px 2px rgba(0, 0, 0, 0.3);
  --font-size-summary: 17px;
  --font-size-body: 16px;
}