/*
Zellij configuration - made for MolniOS.
To generate default config: zellij setup --dump-config > ~/.config/zellij/config.kdl
Themes - https://zellij.dev/documentation/theme-list
*/

// Visuals.
theme "gruvbox-dark"
web_client {
    font "monospace"
}

// Syntax.
scroll_buffer_size 5000
client_async_worker_tasks 0
show_startup_tips false
show_release_notes false