@import "theme.css";
@import "style/workspaces.css";

/* Group style */
#clock,
#custom-weather,
#window,
#mpris,
#tray,
#network,
#bluetooth,
#backlight,
#battery,
#language,
#custom-vpn,
#pulseaudio,
#custom-notification {
    background: linear-gradient(to bottom, @bg1, @bg2);
    border-color: @black;
    border-radius: 999px;
    padding: 1px 12px;
    margin: 4px 2px;
}

/* Main style */
* {
    border: none;
    border-radius: 15px;
    font-family: "SF Pro"; /* JetBrainsMono Nerd Font Propo */
    font-weight: bold;
    font-size: 102%;}

window#waybar {
    background-color: @null;
    transition-property: background-color;
    transition-duration: 0.5s;
}

/* window#waybar > box {
    border-radius: 999px;
    background-color: alpha(@base, .85);
    border: 1px solid alpha(@surface1, .5);
} */

tooltip {
    background-color: @main-bg;
    border: 1px solid @surface1;
    border-radius: 12px;
    color: @text;
    padding: 6px 10px;
}

tooltip label {
    color: @text;
}

/* L-Modules */
#custom-menu {
    font-size: 130%;
    margin-left: 10px;
}
#clock { color: @rosewater; }
#custom-weather { color: @sky }
#window { color: @light-red; }
#mpris { color: @teal; }

/* M-Modules */

/* R-Modules */
#bluetooth { color: @light-blue; }
#pulseaudio.output { color: @peach; }
#pulseaudio.input { color: @yellow; }
#network { color: @sapphire; }
#language { color: @mauve; }
#custom-vpn { color: @rose; }
#battery { background: @light_green; }
#custom-notification {
    font-size: 130%;
    margin-right: 15px;
    padding: 0px 30px;
}