# ShowNews=false doesn't work.
[General]
ApplicationTheme=dark
AutomaticJavaDownload=false
ConsoleFont=JetBrainsMono Nerd Font
ConsoleMaxLines=1000
ConsoleOverflowStop=false
IconTheme=flat_white
IgnoreJavaCompatibility=true
IgnoreJavaWizard=true
JvmArgs="-XX:+UnlockExperimentalVMOptions -XX:+AlwaysPreTouch -XX:+UseStringDeduplication -Dfml.ignorePatchDiscrepancies=true -Dfml.ignoreInvalidMinecraftCertificates=true -XX:-OmitStackTraceInFastThrow -XX:+OptimizeStringConcat -Dfml.readTimeout=180"
Language=en_US
MaxMemAlloc=6144
MinMemAlloc=2048
NumberOfConcurrentDownloads=30
NumberOfConcurrentTasks=30
PermGen=128
ShowGameTimeWithoutDays=true
StatusBarVisible=true
ToolbarsLocked=false
UseDiscreteGpu=true
EnableFeralGameMode=true
EnableMangoHud=true
UserAskedAboutAutomaticJavaDownload=true