include "animations.kdl"
include "autostart.kdl"
include "binds.kdl"
include "cursor.kdl"
include "env.kdl"
include "gestures.kdl"
include "input.kdl"
include "layout.kdl"
include "monitors.kdl"
include "recent-windows.kdl"
include "rules.kdl"
include "visual.kdl"
include "gamemode.kdl"
include "misc.kdl"