include "animations.kdl"
include "autostart.kdl"
include "binds.kdl"
include "cursor.kdl"
include "env.kdl"
include "input.kdl"
include "layout.kdl"
include "monitors.kdl"
include "recent-windows.kdl"
include "rules.kdl"