layout {
    gaps 8 // Hyprland used in=4, out=5. Niri uses unified gaps.

    // Hyprland border_size = 2, rounding = 10
    focus-ring {
        width 2
        active-color "#FFFFFF40"
        inactive-color "#1A1A1A90"
    }
}
